@import url("https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap");
* {
  box-sizing: border-box; }

html,
body {
  margin: 0px;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  width: 100%;
  min-width: 100%;
  overflow: auto; }

h1 {
  padding: 10px;
  font-size: 2rem;
  font-weight: 600;
  color: #4c545d; }

h2 {
  padding: 10px;
  font-size: 1.7rem;
  color: #4c545d; }

h3 {
  padding: 10px;
  color: #4c545d; }

p {
  margin-top: 0;
  line-height: 35px;
  width: 55%;
  color: #9fabb2; }

.container {
  min-width: 100%; }

.btn {
  font-size: 1rem;
  font-weight: 400;
  padding: .8rem 1rem;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.cyan {
  color: white;
  background-color: #26baa4; }
  .cyan:hover {
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4); }

.lightBlue {
  color: white;
  background-color: #6173ff; }
  .lightBlue:hover {
    box-shadow: 0px 15px 20px #6173ff; }

.mt-100 {
  margin-top: 100px; }

.mb-100 {
  margin-bottom: 100px; }

.mt-50 {
  margin-top: 50px; }

.p-3 {
  padding: 30px; }

@media only screen and (max-width: 720px) {
  p {
    padding: 10px 10px;
    width: 100%; }
  .btn {
    width: 90%; } }

.nav_hero {
  background-image: url("../images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 100%;
  width: 100%; }

.dual-cta .btn {
  margin: 5px; }

@media only screen and (max-width: 720px) {
  .nav-logo {
    width: 40%; }
  .nav_hero {
    padding: 100px 0px;
    background-image: url("../images/bg-header-mobile.png"); } }

.container_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }

.container_content--2-col {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; }

.container_content--3-col {
  display: flex;
  flex-direction: row;
  padding: 0 30px; }

.col-6 {
  width: 60%; }
  .col-6 .computer-img {
    position: relative;
    right: 160px; }

.col-3 {
  width: 35%; }

.text-center {
  text-align: center; }

.col-2 {
  width: 40%; }

.features {
  padding-top: 60px; }
  .features .feature--left {
    text-align: left; }
    .features .feature--left p {
      margin-top: 0px;
      width: 75%;
      margin-bottom: 60px; }
    .features .feature--left h3 {
      margin-bottom: 2px; }

@media only screen and (max-width: 720px) {
  .container_content--2-col {
    flex-direction: column; }
  .col-2 {
    width: 100%; }
  .features {
    padding: 30px; }
    .features .feature--left {
      text-align: center; }
      .features .feature--left p {
        margin-top: 0px;
        width: 100%;
        margin-bottom: 60px; }
      .features .feature--left h3 {
        margin-bottom: 2px; }
  /* Styles */
  .col-6 {
    min-width: 100%;
    margin: 0 auto;
    display: block; }
    .col-6 .computer-img {
      position: relative;
      right: 0px;
      padding: 10px 10px; }
  .col-3 {
    width: 100%; }
    .col-3 p {
      width: 100%; }
  .p-3 {
    padding: 0px; }
  .container_content--3-col {
    flex-direction: column; }
  .container_content {
    min-width: 100%;
    margin: 0 auto;
    display: block; }
  .devices-img {
    width: 100%; } }

.footer {
  display: flex;
  flex-direction: row;
  min-height: 200px;
  padding: 50px;
  background: #f0f7fa;
  align-content: center; }
  .footer a {
    text-decoration: none;
    color: #4c545d; }
    .footer a:hover {
      color: #7d8e9b; }
  .footer ul li {
    text-decoration: none;
    list-style: none;
    padding-bottom: 20px; }
  .footer .logo {
    width: 25%; }

@media only screen and (max-width: 720px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .footer .logo {
      width: 100%;
      margin: 50px auto;
      text-align: center; }
    .footer .col-2 {
      width: 100%;
      text-align: center; }
    .footer ul li {
      text-decoration: none;
      list-style: none; }
    .footer ul {
      padding: 0;
      margin: 0 auto; } }
