@import url('https://fonts.googleapis.com/css?family=Bai+Jamjuree:400,600&display=swap');

$primary-colors: ('strongCyan':hsl(171, 66%, 44%),
'lightBlue':hsl(233, 100%, 69%));

$neutral-colors: ('darkGrayishBlue':hsl(210, 10%, 33%),
'grayishBlue': hsl(201, 11%, 66%));

$font-weights: ('semi-bold':600,
'regular':400);

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    width: 100%;
    min-width: 100%;
    overflow: auto;

}

h1 {
    padding: 10px;
    font-size: 2rem;
    font-weight: map-get($font-weights, 'semi-bold');
    color: map-get($neutral-colors, 'darkGrayishBlue');
}

h2 {
    padding: 10px;
    font-size: 1.7rem;
    color: map-get($neutral-colors, 'darkGrayishBlue');
}

h3 {
    padding: 10px;
    color: map-get($neutral-colors, 'darkGrayishBlue');
}

p {
    margin-top: 0;
    line-height: 35px;
    width: 55%;
    color: map-get($neutral-colors, 'grayishBlue');
}

.container {
    min-width: 100%;

}

.btn {
    font-size: 1rem;
    font-weight: map-get($font-weights, 'regular');
    padding: .8rem 1rem;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);


}

.cyan {
    color: white;
    background-color: map-get($primary-colors, 'strongCyan');

    &:hover {
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);

    }
}

.lightBlue {
    color: white;
    background-color: map-get($primary-colors, 'lightBlue');

    &:hover {
        box-shadow: 0px 15px 20px map-get($primary-colors, 'lightBlue');

    }
}


.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.mt-50 {
    margin-top: 50px;
}

.p-3 {
    padding: 30px;
}


@media only screen and (max-width : 720px) {
    p {
        padding: 10px 10px;
        width: 100%;

    }

    .btn {
        width: 90%;
    }
}

@import './components/nav-hero.scss';
@import './components/content-block.scss';
@import './components/footer.scss';