.footer {
    display: flex;
    flex-direction: row;
    min-height: 200px;
    padding: 50px;
    background: hsl(198, 50%, 96%);
    align-content: center;

    a {
        text-decoration: none;
        color: hsl(210, 10%, 33%);

        &:hover {
            color: hsl(207, 13%, 55%);
        }
    }

    ul li {
        text-decoration: none;
        list-style: none;
        padding-bottom: 20px;
    }

    .logo {
        width: 25%;
    }
}


@media only screen and (max-width : 720px) {


    .footer {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .logo{
            width: 100%;
            margin: 50px auto;
            text-align: center;
        } 
        
        
        .col-2 {
            width: 100%;
            text-align: center;
        }

        ul li {
            text-decoration: none;
            list-style: none;

        }

        ul {
            padding: 0;
            margin: 0 auto;
        }
    }
}