.nav_hero {

    background-image: url('../images/bg-header-desktop.png');
    background-size: contain;
    background-repeat: no-repeat;
    min-width: 100%;
    width: 100%;
    min-height:100%;
    height: 100%;
}

.dual-cta {

    .btn {
        margin: 5px;
    }
}


@media only screen and (max-width : 720px) {

    .nav-logo {
        width: 40%;
    }

    .nav_hero {
        padding: 100px 0px;
        background-image: url('../images/bg-header-mobile.png');

    }
}